body {
  margin: 0;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 151px;
  background-color: #555;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4caf50;
  color: white;
}

li a:hover:not(.active) {
  background-color: black;
  color: white;
}
